body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1601px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:51px;
  width:726px;
  height:144px;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:171px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:0px;
  width:322px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:233px;
  height:38px;
  font-size:12px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:38px;
  width:171px;
  height:38px;
  font-size:12px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:38px;
  width:322px;
  height:38px;
  font-size:12px;
  text-align:left;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:33px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:233px;
  height:33px;
  font-size:12px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:76px;
  width:171px;
  height:33px;
  font-size:12px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:76px;
  width:322px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:35px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:233px;
  height:35px;
  font-size:12px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:109px;
  width:171px;
  height:35px;
  font-size:12px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:109px;
  width:322px;
  height:35px;
  font-size:12px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:35px;
  width:724px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  word-wrap:break-word;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:272px;
  width:274px;
  height:19px;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:10px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:670px;
  height:10px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:9px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:275px;
  width:664px;
  height:9px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:11px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2206 {
  position:fixed;
  left:50%;
  margin-left:-800.5px;
  top:0px;
  width:1601px;
  height:34px;
  overflow:hidden;
}
#u2206_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2206_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 143, 205, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1597px;
  word-wrap:break-word;
}
